html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*****************
FONTS
*****************/

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/nexa_bold-webfont.eot');
    src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/******************
GENERAL
*******************/

body {
  font-family: 'Arvo', serif;
  background: url("../img/background_lilacnoise.jpg");
  background-position: repeat;
  font-size: 18px;
  padding: 3em;
}

#about-page section {
  line-height: 1.6;
  margin-bottom: 2em;
}

#about-page h3 {
  margin-top:0;
}

#about-page .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about-page .profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2em;
  margin-bottom: 2em;
}

img {
  display: block;
  margin:0;
  padding:0;
  line-height: 0;
}

.wrapper {
  margin: 0 auto;
}

/******************
HEADING
*******************/

header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom:2em;
}

h3 {
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #0095bb;
}

/******************
LOGO
*******************/

#logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "nexa_boldregular", serif;
  text-align: center;
  margin-right: 1em;
}

#logo .logo-img {
  width:auto;
  margin-bottom:0.5em;
}

#logo .logo-img img {
  max-height: 4em;
}

#logo .logo-bigtext {
/*  color: #aa90c7;*/
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  line-height: 0.75;
      width: 150px;
}

#logo .logo-smalltext {
/*    color: #aa90c7;*/
    font-size: 12px;
    text-transform: uppercase;
}

/******************
NAVIGATION
*******************/
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:flex-end;
}

header nav a {
  text-decoration: none;
  margin-left:1em;
}

header .social-icon {
  width: 25px;
  height: 25px;
}

nav a {  }


/******************
FOOTER
*******************/

footer {
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: #aa90c7;
}

footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px; /* top/bottom left/right */
}

/******************
PAGE: PORTFOLIO
*******************/

#gallery {
  margin:0;
  padding:0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#gallery li {
  width:18em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:1em;
}

#gallery li a {
  width:100%;
  text-decoration: none;
}

#gallery li img {
  width:100%;
}

#gallery li span {

}

/******************
PAGE: CONTACT
*******************/

.profile-photo {
  display: block; /* avoid it being inline  by default */
  max-width: 200px;
  margin-bottom:1em;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 25px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
  text-decoration: none;
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
  text-decoration: none;
}


#portfolio-piece .portfolio-piece-photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
  width:100%;
}

#portfolio-piece section {
  line-height: 1.6;
}

/******************
COLORS
*******************/


body {
  background-color: #fff;
  color: #2a003c;
}

header {
}

nav {
}

a{
  color: #7b6791;
  list-style: none;
}

nav a{
  -webkit-transition:color 500ms;
}

nav a.selected {
  color: #ff9962;
}

nav a:hover {
  color: #aa90c7;
}

nav a.selected:hover {
  color: #ff9962;
}



