@media screen {

 /* tells browser to target digital screens */

    /******************
    TWO COLUMN LAYOUT
    *******************/

    #primary {
      width: 50%;
      float: left;
    }

    #secondary {
      width: 40%;
      float: right;
    }

    /******************

    total width of each element multiplied by 3 (3 elements side by side)
    margin on each side = 2.5 on all sides

    2.5 + 2.5 = 5%
    3 * 5 = 15
    100% - 15% = 85%
    85% / 3 = 28.333333
    *******************/

    /******************
    PAGE: PORTFOLIO
    *******************/

    #gallery li {
      width: 28.3333%;
    }

    #gallery li:nth-child(4n) {
    clear: left;
    }

    /******************
    PAGE: ABOUT
    *******************/

    .profile-photo{
      float: left;
      margin: 0 5% 20px 0;
      max-width: 200px;
    }
}

@media screen{

    /******************
    HEADER
    *******************/

    nav {
      background: none;
      float: right;
      font-size: 1.125em;
      text-align: right;
    }

    #logo {
      float: left;
      text-align: left;
    }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 0.825em;
      margin-bottom: 20px;
    }

    header {
      margin-bottom: 60px;
    }

}






