/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  body {
    padding: 1em;
  }

  header {
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    margin-right: 0;
    margin-bottom: 1em;
  }

  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header nav a {
    margin-left: 0;
    margin-bottom: 0.5em;
  }

  .wrapper {
    max-width:  480px;
  }


  #about-page .profile {
    justify-content: center;
    align-items: center;
    margin-right:0;
  }

  #about-page .wrapper {
    flex-direction: column;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  body {
    padding: 1em;
  }

  header {
    max-width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo {
    margin-right: 0;
    margin-bottom: 1em;
  }

  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header nav a {
    margin-left: 0;
    margin-bottom: 0.5em;
  }

  .wrapper {
    max-width:  320px;
  }

  #about-page .profile {
    justify-content: center;
    align-items: center;
    margin-right:0;
  }

    #about-page .wrapper {
    flex-direction: column;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    header {
    max-width: 1024px;
  }

  .wrapper {
    max-width:  1024px;
  }

  #about-page .wrapper {
    max-width:  980px;
  }

    #about-page .wrapper {
    flex-direction: row;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
      header {
    max-width: 1024px;
  }

  .wrapper {
    max-width:  1024px;
  }

    #about-page .wrapper {
    max-width:  1024px;
  }

      #about-page .wrapper {
    flex-direction: row;
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    header {
    max-width: 1024px;
  }

  .wrapper {
    max-width:  1024px;
  }

    #about-page .wrapper {
    max-width:  1024px;
  }

      #about-page .wrapper {
    flex-direction: row;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  header {
    max-width: 1224px;
  }

  .wrapper {
    max-width:  1224px;
  }

  #about-page .wrapper {
    max-width:  1224px;
  }

      #about-page .wrapper {
    flex-direction: row;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  header {
    max-width: 1824px;
  }

  .wrapper {
    max-width:  1824px;
  }

  #about-page .wrapper {
    max-width:  1224px;
  }
  
  #about-page .wrapper {
    flex-direction: row;
  }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}